@{
    ViewBag.Title = "Sobre Nosotros";
}

<div class="container text-center mt-5">
    <img src="@Url.Content("~/imagenes/logoelectronics.png")" alt="Logo Electronics" class="img-fluid" style="max-width: 300px; height: auto;" />
    <h2 class="mt-3">Somos una tienda física y virtual dedicada a la venta te artículos tecnológicos tales como SmartPhones, Laptops, Audifonos entre otros componentes, para llevarle a usted lo más nuevo en tecnología.</h2>
</div>
