@{
    ViewData["Title"] = "Ubicaciones";
}
<h2 class="mt-3">Nos ubicamos en Mall Paseo Metrópoli</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.800396373187!2d-83.9451963251304!3d9.867106990231646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0dfef61ec78db%3A0xbbd21482f26cf090!2sMall%20Paseo%20Metr%C3%B3poli!5e0!3m2!1ses-419!2scr!4v1742167531320!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
