@model IEnumerable<Electronics.Models.Productos>

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-7">
                                <h5 class="mb-3">Tu Carrito</h5>
                                <hr />

                            </div>
                            <div class="col-lg-5">
                                <div class="card bg-danger text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Detalles de Pago</h5>
                                        </div>

                                        <form class="mt-4">
                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="typeName" class="form-control form-control-lg" placeholder="Nombre completo" />
                                                <label class="form-label" for="typeName">Nombre y apellidos</label>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="cardNumber" class="form-control form-control-lg" placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                                <label class="form-label" for="cardNumber">Número de Tarjeta</label>
                                            </div>

                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input type="text" id="expDate" class="form-control form-control-lg" placeholder="MM/YYYY" minlength="7" maxlength="7" />
                                                        <label class="form-label" for="expDate">Fecha de Expiración</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input type="password" id="cvv" class="form-control form-control-lg" placeholder="&#9679;&#9679;&#9679;" minlength="3" maxlength="3" />
                                                        <label class="form-label" for="cvv">CVV</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <hr class="my-4" />

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">TOTAL</p>
                                            <p class="mb-2">$0</p>
                                        </div>

                                        <button type="button" class="btn btn-danger btn-block btn-lg">
                                            <div class="d-flex justify-content-between">
                                                <span>PAGAR</span>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
